
@{
    Layout = "_Layout";
}
@model AppUserLoginDto

<form method="post" asp-controller="Account" asp-action="SignIn" class="mt-4 w-50 h-50 mx-auto">
 
    <div class="mb-3">
        <label class="form-label">UserName</label>
        <input type="text" asp-for="@Model.Username" class="form-control">

    </div>
 
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" asp-for="@Model.Password" class="form-control">

    </div>

    <button type="submit" asp-action="SignIn" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">Login</button>

    <div class="text-danger" asp-validation-summary="All"></div>
</form>