
@{
    Layout = "_Layout";
}
@model List<ProvidedServiceListDto>
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/01.jpg" /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">@item.Title</h2>
                        <p>@item.Description</p>
                    </div>
                </div>
            }

        </div>
    </div>
</section>