@{
    ViewData["Title"] = "Home Page";
}

<p>Singleton = @ViewBag.Singleton</p>

<p>Singleton2 =@ViewBag.Singleton2</p>


<p>Scoped = @ViewBag.Scoped</p>

<p>Scoped2 =@ViewBag.Scoped2</p>

<p>Transient = @ViewBag.Transient</p>

<p>Transient2 =@ViewBag.Transient2</p>